<h1><%= @pet.title %></h1>

<p>
  <strong>Description:</strong>
  <%= @pet.description %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @pet.breed %>
</p>

<p>
  <strong>Age:</strong>
  <%= @pet.age %>
</p>

<p>
  <strong>Status:</strong>
  <%= @pet.status %>
</p>

<% if @pet.image_url.present? %>
  <p>
    <strong>Image:</strong><br>
    <% if asset_exists?(@pet.image_url) %>
      <%= image_tag @pet.image_url, alt: @pet.title %>
    <% else %>
      <%= image_tag 'default_image.png', alt: 'Default Image' %>
    <% end %>
  </p>
<% end %>

<%= link_to 'Edit', edit_pet_path(@pet), class: 'btn btn-primary' %> |

<%= link_to 'Back', my_pets_path, class: 'btn btn-secondary' %>
