<body>

<section class="mt-5">
  <div class="container">
    <h2 class="text-left"><span class="sparkles">Meet <%= @pet.title %>!</span></h2>
  </div>
</section>

<div class="container text-center">
  <% if @pet.image_url.present? %>
    <%= image_tag @pet.image_url, alt: @pet.title, class: 'pet-image' %>
  <% else %>
    <%= image_tag @pet.display_image_url, alt: @pet.title, class: 'pet-image' %>
  <% end %>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card_details">
          <div class="card-body">
            <h5 class="card-title">Details</h5>
            <p><strong>Breed:</strong> <%= @pet.breed %></p>
            <p><strong>Age:</strong> <%= @pet.age %> years old</p>
            <p><strong>Status:</strong> <%= @pet.status.humanize %></p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card_details">
          <div class="card-body">
            <h5 class="card-title">Personality</h5>
            <p><strong></strong> <%= @pet.description %></p>
            <p class="card-text"><%= @pet.personality %></p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card_details">
          <div class="card-body">
            <h5 class="card-title">Location</h5>
            <p><%= @pet.location %></p>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="container mt-2 mb-5 d-flex justify-content-between">
  <% if user_signed_in? %>
    <% if @pet.user == current_user %>
      <%= link_to 'Edit', edit_pet_path(@pet), class: 'btn furever-button' %>
    <% elsif @pet.status == 'available' %>
      <%= link_to 'Adopt!', new_pet_adoption_path(pet_id: @pet.id), class: 'btn furever-button shimmery' %>
    <% end %>
    <%= link_to 'Back to see more', pets_path, class: 'btn furever-button' %>
  <% else %>
    <%= link_to 'Back to see more', pets_path, class: 'btn furever-button' %>
  <% end %>
</div>




<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>


</html>
