<div class="container mt-5 pet-header">
  <div class="row">

    <div class="col-12 mb-5">
      <h1 class="mb-4">My Adoption Requests</h1>
      <% if @my_requests.present? %>
        <div class="row">
          <% @my_requests.each do |adoption| %>
            <div id="<%= dom_id(adoption) %>" class="col-md-4 mb-4">
              <div class="card h-100 shadow-sm">
                <div class="card-header">
                  <h5 class="card-title mb-0">Request for <%= adoption.pet.title %></h5>
                  <p class="card-text mt-3"><strong>Email:</strong> <%= adoption.adopter_email %></p>
                  <p class="card-text"><strong>Message:</strong> <%= adoption.message %></p>
                  <div class="mt-4 d-flex justify-content-between">

                    <%= link_to 'Message', adoption_messages_path(adoption), class: 'furever-button' %>
                    <%= link_to 'Delete', pet_adoption_path(adoption.pet, adoption), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'furever-button' %>

                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="alert alert-info">
          <p>You haven't requested any adoption yet!</p>
        </div>
      <% end %>
    </div>

    <% if current_user.role == 'owner' %>
      <div class="col-12 mb-4">
        <h1 class="mb-4">Adoption Requests for My Pets</h1>
        <% if @requests_for_my_pets.present? %>
          <div class="row">
            <% @requests_for_my_pets.each do |pet, adoptions| %>
              <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                  <div class="card-header">
                    <h5 class="card-title mb-0">Request for <%= pet.title %></h5>
                  </div>
                  <div class="card-body">
                    <% adoptions.each do |adoption| %>
                      <div id="<%= dom_id(adoption) %>">
                        <p class="card-text"><strong>Email:</strong> <%= adoption.adopter_email %></p>
                        <p class="card-text"><strong>Message:</strong> <%= adoption.message %></p>
                        <div class="mt-4 d-flex justify-content-between">

                          <%= link_to 'Message', adoption_messages_path(adoption), class: 'furever-button' %>

                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="alert alert-info shadow-sm">
            <p>Your pets haven't had adoption requests yet!</p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>



<style>
  .container {
    max-width: 1300px;
  }

  .card {
    border: 2px solid #E5EEFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    max-height: 250px;
    transition: all 0.6s ease;
  }

.card:hover{
  border-color: #323440;
}

.card-header {
  border-bottom: none;
}

.card-title {
  color: #323440;
  border-bottom: 2px solid #E5EEFF;
  padding-bottom: 5px;
}
  .card-header:first-child  {
    background-color: white;
    border-radius: 14px;
  }

  .furever-button {
    margin-top: 5px;
    font-size: 0.8rem;
    background-color: #323440;
  }

  .furever-button:hover {
    background-color: #fdcd07;
    color: #323440;
  }

  .alert {
    border-radius: 14px;
    padding: 20px;
    background-color: white;
    border: 2px solid #E5EEFF;
    transition: all 0.3s ease;
  }
  .alert:hover {
    border-color: #fdcd07;

  }

  h5 {
    color: rgb(68, 57, 41);
  }
  </style>
